.MainLayout {
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(60px, 7%);
    grid-template-columns: 1fr;
    background-color: #b5b5b5;
}

.MainLayout>* {
    font-family: Arial;
}


header {
     grid-column: span 2;
    padding: 8px;
    margin: 8px;
}

main {
    overflow: auto;
}